# Auto detect text files and perform LF normalization
* text=auto

# Force LF for these files
*.js text eol=lf
*.json text eol=lf
*.html text eol=lf
*.css text eol=lf
*.md text eol=lf

# Binary files
*.png binary
*.jpg binary
*.pdf binary
